<!Doctype html>
<html>
    <head>
        <% include partials/head %>
        
    </head>
    <body>
        <% include partials/header %>
            <center>
            <div class="card text-center w-50" style="margin-top:100px">
                    <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                        <a class="nav-link disabled" href="#">Choose carpark</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link active" href="#">Check-In</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/checkout">Check-Out</a>
                        </li>
                    </ul>
                    </div>
                    <div class="card-body">
                        
                        <h4 class="card-title">Check-In</h4>
                        <p class="card-text">Select your desired carpark to chope a lot! At least $10 worth of credits must be in your account to begin, and nominal fee of $0.50 is required to use this service.
                            </p>
                        
                        
                    </div>
                    
                </div>
            </center>
        
        <% include partials/scripts %>
        <script src="js/checkin.js" </script>
    </body>    
</html>
